
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow anyone to read public post images/videos.
    match /posts/{userId}/{allPaths=**} {
      allow read;
    }

    // Allow users to read, write, and delete their own avatar images.
    match /avatars/{userId} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to read, write, and delete their own banner images.
    match /banners/{userId} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow users to read, write, and delete their own story images.
    match /stories/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
    